* {
    /* outline all elements on page*/
    outline: 0.1em solid black;
}
html {
    display: flex;
    justify-content: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #ebebe6;
}

body {

}

h1 {
    font-weight: 700;
    text-transform: uppercase;
}
#char-gen-container {
    min-width: 100%;
    max-width: 100%;
    height: auto;
    min-height: 600px;
    background-color: #e7e7db;
}


#d20-roll-button {
    border: none;
    background-color: transparent;
    transition: transform.2s;
}

#d20-roll-button:hover {
    transform: scale(1.1);
}

#d20-roll-button-img {
    width: 150px;
    height: auto;
}

#d20-roll-result {
    font-weight:600;
}

#character-image img {

}
#character-image img {
    width: 50%;
    max-width: 500px;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    #char-gen-container {
        max-width: 900px;
    }
  }

/* Desktop*/
@media only screen and (min-width: 992px) {
    #char-gen-container {
        max-width: 1200px;
    }
}